.navBar{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    padding: 10px;
}

.navBar > h1{
    font-family: var(--font-family-text);
    font-size: 8vh;
    color: black;
/*     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.534);  */
}

.navBar > h1 > p{
    display: inline;
    color: white;
    font-size: 8vh;
}

@media screen and (max-width: 767px) {
    .navBar > h1,.navBar > h1 > p{
        font-size: 6vh;
    }
}