/* HTML: <div class="loader"></div> */

.Mer {
  width: 80px;
  height: 40px;
  background: radial-gradient(circle 11px at top, #0000 94%, #b0e5f3) 0 20px,
    radial-gradient(circle 11px at top, #0000 94%, #5dc1e4) 0 10px,
    radial-gradient(circle 11px at top, #0000 94%, #008cd9) 0 0;
  background-size: 20px 100%;
  background-repeat: repeat-x;
  animation: l7 1s infinite linear;
  margin: 3rem;
}
@keyframes l7 {
  50% {
    background-position: 10px 15px, -10px 12px, 15px 8px;
  }
  100% {
    background-position: 20px 20px, -20px 10px, 20px 0px;
  }
}

/* HTML: <div class="loader"></div> */
.Campagne {
  width: calc(6 * 30px);
  height: 50px;
  display: flex;
  color: #8d7958;
  filter: drop-shadow(30px 25px 0 currentColor)
    drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l11 2s infinite steps(7);
  margin: 3rem;
}
.Campagne:before {
  content: "";
  width: 30px;
  height: 25px;
  background: currentColor;
  clip-path: polygon(
    0 50%,
    30% 40%,
    100% 0,
    60% 40%,
    100% 50%,
    60% 60%,
    100% 100%,
    30% 60%
  );
}

@keyframes l11 {
  100% {
    clip-path: inset(0 -30px 0 0);
  }
}

.circle {
  margin-left: calc(50% - 200px);
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: -webkit-linear-gradient(
    45deg,
    #5f2c82 10%,
    #49a09d 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    45deg,
    #5f2c82 10%,
    #49a09d 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); /* IE10 */
  background: -o-linear-gradient(
    45deg,
    #5f2c82 10%,
    #49a09d 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); /* W3C */
  border: 6px solid orange;
  overflow: hidden;
  margin: 3rem;
}

.mountain {
  z-index: 10;
  position: absolute;
  left: -10px;
  bottom: -25px;
  width: 60%;
  height: 50%;
  background-color: #755223;
  -moz-transform: scale(1) rotate(45deg);
  -webkit-transform: scale(1) rotate(45deg);
  -o-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
  border-radius: 15px;
  overflow: hidden;
}
.circle > .mountain + div {
  z-index: 9;
  position: absolute;
  left: 30%;
  bottom: 0px;
  width: 60%;
  height: 50%;
  background-color: #5b3e1d;
  -moz-transform: scale(1) rotate(45deg);
  -webkit-transform: scale(1) rotate(45deg);
  -o-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}

.mountain div {
  position: absolute;
  top: -20px;
  left: -30px;
  width: 70px;
  height: 70px;
  background-color: #eee;
  border-radius: 10px;
}

.clouds div {
  z-index: 11;
  position: absolute;
  width: 15%;
  height: 10px;
  background-color: #fff;
  left: 40%;
  top: 10%;
  border-radius: 10px;
  -webkit-animation: cloud1 5s linear infinite;
  animation: cloud1 5s linear infinite;
}

.clouds div:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  top: -10px;
  border-radius: 15px;
}
.clouds div:before {
  content: "";
  /* position: absolute; */
  width: 35px;
  height: 35px;
  background-color: #fff;
  top: -25px;
  left: 31%;
  border-radius: 50px;
}
.clouds div + div {
  top: 20%;
  -webkit-animation: cloud2 6s linear infinite;
  animation: cloud1 5s linear infinite;
}
.clouds div + div + div {
  top: 30%;
  -webkit-animation: cloud3 4s linear infinite;
  animation: cloud1 5s linear infinite;
}
@-webkit-keyframes cloud1 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes cloud2 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes cloud3 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.lake {
  z-index: 11;
  position: absolute;
  bottom: -83%;
  width: 100%;
  height: 100%;
  background-color: #4b77be;
}
